<style>
body{
	padding: 0;
	margin: 0;
	font-family:"Times New Roman", Times, serif;
}
.contact{
	width: 100%;
	position: center;
	top: 100%;
	text-align:center;
	padding: 0px, 0px;
	color: transparent;
	color: rgba(0,0,0,0.5);
	margin-top: 200px;
	margin-right: 50px;
	position: relative;
}
.content{
	width: 100%;
	color: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: rgba(0,0,0,0.5);



}
.logo img{
	margin-top: -70px;
	margin-left: -100px;
	position: absolute;
	background-size: contain;
	width: 200px;
	height: 200px;
	padding:0px 0px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
.logo1 {
	margin-top: -30px;
	margin-right: 800px;
	color: #fff;
	font-size:20px;
	padding: 0px 20px;
	width: 200px;
	height: 100px;
	float: right;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
nav{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:60px;
	padding:10px 90px;
	box-sizing:border-box;
	background: rgba(0,0,0,0.4);
	border-bottom:1px solid #fff;
}
nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;
}
nav ul li a{
	line-height: 40px;
	color:#fff;
	padding: 12px 30px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
nav ul li a:hover{
	background: rgba(0,0,0,0.7);
	border-radius: 6px;
}
nav ul li:hover > ul{
	display:block;
}
nav ul li:hover {
	background: :transparent;
	transition: 0.9s;

}
nav ul ul{
	display: none;
	background: transparent;
	padding: 0;
	margin: 0;
	float:left;
	margin-top: 10px;
	margin-left: 20px;
	position: absolute;
	top:100%;
	color: black;
	transition: 0.9s;
}
nav ul ul li {
	float:none;
	position:relative;

}
nav ul ul li a{
	padding :25px;
	color:white;
	width:300px;
	text-align:left;
}
nav ul ul li a:hover{
	background: lightblack;
	color: white;
	transition:0.9s;
}
body{
	width:100%;
	height: 100vh;
	background: url("dm5.jpg");
	background-size: cover;
	background-position: center;
	font-size: 15px;
}
button{
	width: 200px;
	padding: 15px 0;
	margin-left: 550px;
	color:#000;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background-color:black;
	border-radius: 25px;
	border: 2px solid #fff;
	background: transparent;
	cursor: pointer;
	position: relative;
	top:60%;

}
span{
	background: #fff;
	width: 0;
	height: 100%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
button:hover{
	border: none;
}
</style>
